{{ define "main" }}
	<h1 class="text-center">{{ .Title }}</h1>

	<div class="grid" data-masonry='{"percentPosition": true, "columnWidth": ".grid-sizer", "itemSelector": ".grid-item", "gutter": ".gutter-sizer", "horizontalOrder": true}'>
	<div class="grid-sizer"></div>
	<div class="gutter-sizer"></div>
    {{ $nonPaginatedPages := slice "Tags" "Categories"}}

    {{ if in $nonPaginatedPages .Page.Title }}
        {{ range .Data.Pages }}
            {{ partial "grid-item.html" . }}
        {{ end }}
    {{ else }}
        {{ $paginator := slice }}
        {{ if .Page.IsHome }}
            {{ $paginator = .Paginate (where .Site.RegularPages "Type" "==" "posts") }}
            {{ range $index, $element := sort $paginator.Pages "Date" "desc" }}
                <!-- pass index into grid-item partial -->
                {{ .Scratch.Set "index" $index }}
                {{ partial "grid-item.html" . }}
            {{ end }}
        {{ else }}
            {{ $paginator = .Paginate .Data.Pages }}
            {{ range $paginator.Pages }}
                {{ .Scratch.Delete "index" }}
                {{ partial "grid-item.html" . }}
            {{ end }}
        {{ end }}

        {{ if or $paginator.HasPrev $paginator.HasNext}}
            <div class="paginator">
              {{ if $paginator.HasPrev }}
              <a class="link" href="{{ $paginator.Prev.URL }}">← prev</a>
              {{ else }}
              <a></a>
              {{ end }}
              {{ if $paginator.HasNext }}
              <a class="link" href="{{ $paginator.Next.URL }}">next →</a>
              {{ else }}
              <a></a>
              {{ end }}
            </div>
        {{ end }}
    {{ end }}

	<style>
		:root {
			--cols: 5;
			--width: calc((100% / var(--cols)) - 1%);
			--space: calc((100% - var(--width) * var(--cols)) / (var(--cols) - 1));
		}

		/* clearfix */
		.grid:after {
		  content: '';
		  display: block;
		  clear: both;
		}

		.grid-sizer,
		.grid-item {
		  width: var(--width);
		  margin-bottom: var(--space);
		  padding: var(--space);
		}

		.grid-item--width2 { width: calc(var(--width) * 2); }

		.gutter-sizer {
		  width: var(--space);
		}

        .paginator {
          margin-top: 10rem;
          width: 100%;
          position: absolute;
          bottom: 0;
          text-align: center;
        }
	</style>

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var grid = document.querySelector('.grid');
            var masonry = new Masonry(grid, {
                itemSelector: '.grid-item',
                percentPosition: true,
                columnWidth: '.grid-sizer',
                gutter: ".gutter-sizer",
                horizontalOrder: true,
            });

            // Refresh the layout after images are loaded
            imagesLoaded(grid).on('progress', function () {
                masonry.layout();
            });
        });
    </script>
{{ end }}
