{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ partial "metadata.html" . }}
<br><br>

{{ $context := dict "base" .RelPermalink "imageName" .Params.defaultImage }}
{{ partial "image.html" $context }}

{{ .Content }}

{{ $basePermalink := .RelPermalink }}
{{ with .Params.images }}
    {{ range . }}
        {{ $context := dict "base" $basePermalink "imageName" . }}
        {{ partial "image.html" $context }}
    {{ end }}
{{ end }}

<style>
.img-responsive {
  width: 20%;
  height: 20%;
}
</style>

{{ end }}


